<!-- faq-banner -->
<div class="single-page-agile-main">
  <div class="container">
    <!-- /w3l-medile-movies-grids -->
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Giới thiệu</li>
      </ol>
    </div>
    <div class="single-page-agile-info">
      <!-- /movie-browse-agile -->
      <div class="show-top-grids-w3lagile">
        <!--begin detail-->
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="song">
              <div class="song-info">
                <h3></h3>
              </div>
            </div>


            <div class="s-author">
              <p>Bài viết <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a> &nbsp;&nbsp;
                <i class="fa fa-calendar" aria-hidden="true"></i> 29/09/2021 &nbsp;&nbsp; <a
                  href="#"></a>
              </p>
            </div>
            <div id="fb-root"></div>
            <br><br>
            <h2>Điều khoản sử dụng</h2>
            <br><br>
            <div class="w3-agile-news-text">
              <p>Xin vui lòng đọc kỹ các điều khoản sau trước khi sử dụng dịch vụ. Với việc truy cập trang
                web / ứng dụng này, bạn đã đồng ý với các điều khoản sử dụng của chúng tôi. Các điều khoản
                này có thể thay đổi theo thời gian và có hiệu lực ngay lập tức khi được đăng và hiển thị
                trên trang web / ứng dụng mà không cần thông báo trước. Quý khách vui lòng kiểm tra thường
                xuyên để cập nhật những thay đổi của LOTTE Cinema.
              </p>
              <br>
              <h4>I . Đối tượng áp dụng</h4>
              <br>
              <p>Tính năng đặt vé trực tuyến hiện chỉ áp dụng cho thành viên của LOTTE Cinema. Vui lòng
                tham khảo thông tin đăng ký thành viên trên trang web hoặc app LOTTE Cinema.</p>
              <br>
              <p>
                Quý khách phải đăng ký tài khoản trực tuyến với thông tin xác thực về bản thân và phải
                cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập vào tài khoản thành viên phải có
                trách nhiệm với mật khẩu, tài khoản điểm thưởng và các hoạt động của mình trên ứng dụng.
                Quý khách phải thông báo cho chúng tôi biết ngay khi tài khoản bị truy cập trái phép.
                Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những
                thiệt hại hoặc mất mát gây ra do quý khách không tuân thủ quy định.
              </p>
              <br>
              <p>
                Thông thường, LOTTE Cinema mở bán vé trực tuyến trước ngày chiếu phim, tuy nhiên điều này phụ thuộc vào mỗi phim, mỗi rạp. Nếu suất chiếu bạn muốn đặt chưa được hiển thị trên Ứng dụng vào thời điểm khách đặt vé, xin vui lòng quay lại sau, hoặc liên hệ với số hotline của rạp bạn muốn đến để biết thêm thông tin chi tiết.
              </p>
              <br>
              <p>
                Thời gian đóng chức năng mua vé trực tuyến là 30 phút trước giờ chiếu phim hoặc khi suất chiếu đã được bán hết vé. Tuy nhiên, sau thời gian này quý khách có thể đến liên hệ trực tiếp tại rạp để mua vé.
              </p>
              <br>
              <p>Mỗi giao dịch đặt vé trực tuyến có thể thanh toán tối đa 8 vé cho một lần.</p>
              <br>
              <h4>II. Thực hiện giao dịch</h4>
              <br>
              <p>Khách hàng khi mua vé trực tuyến tại trang web / ứng dụng LOTTE Cinema phải đăng nhập tài khoản thành viên và thực hiện theo các bước sau:</p>
              <br>
              <p>Bước 1: Quý khách lựa chọn suất chiếu theo phim hoặc suất chiếu theo rạp.</p>
              <br>
              <p>Bước 2: Lựa chọn chỗ ngồi, các sản phẩm bắp nước kèm theo và kiểm tra tổng tiền cho giao dịch này.</p>
              <br>
              <p>Bước 3: Thanh toán bằng một trong các hình thức thanh toán Trực tuyến sau: qua thẻ tín dụng (Visa, Master Card..), thẻ ATM nội địa, điểm thưởng thành viên, phiếu quà tặng ...</p>
              <br>
              <p>Bước 4: Thành viên vào Tài khoản của tôi để kiểm tra các giao dịch thành công. Đồng thời, thành viên sẽ nhận được mã đặt chỗ qua email là tài khoản email dùng để đăng nhập thành viên. Trong tài khoản thành viên, quý khách vào mục Tài Khoản Của Tôi => Đặt Vé để xe lại giao dịch đặt vé với thông tin chi tiết và mã số đặt chỗ tương ứng. Với khách hàng đặt vé qua ứng dụng sẽ nhận được thêm thông báo bật ra trên máy điện thoại về thông tin đặt vé. Với khách hàng đặt qua trang web, vui lòng nhập số điện thoại vào khu vực nhập số nhận tin nhắn xác nhận sau khi đặt vé, hệ thống sẽ gửi tin nhắn SMS về số điện thoại này. Lotte Cinema sẽ được miễn trách nhiệm trong trường hơp quý khách cung cấp sai thông tin như email, số điện thoại dẫn tới việc gửi thông tin xác nhận đặt vé không tới đúng người đặt mua.</p>
              <br>
              <p>Bước 5: Quý khách vui lòng cung cấp mã đặt vé và các thông tin tài khoản thành viên dùng để đặt vé để nhận vé tại rạp. Hoặc Quý khách có thể xuất trình màn hình đặt vé trên app cho nhân viên kiểm soát vé để vào phòng chiếu mà không cần phải xuất vé tại quầy vé</p>
              <br>
              <h4>III. Thông tin thanh toán trực tuyến</h4>
              <br>
              <p>1. Quy định về thanh toán</p>
              <br>
              <p>Khách hàng có thể lựa chọn các hình thức thanh toán sau để thanh toán cho giao dịch đặt vé trên ứng dụng LOTTE CINEMA:</p>
              <br>
              <p>+ Điểm thành viên
                <br>
                + Ticket Voucher
                <br>
                + Thẻ ATM (Thẻ ghi nợ / thanh toán / trả trước nội địa)
                <br>
                + Thẻ tín dụng thẻ, thẻ ghi nợ, thẻ trả trước quốc tế
                <br>
                + Ví điện tử (Momo Pay và Zalo Pay)</p>
              <br>
              <p></p>
              <br>
              <p></p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end detail-->
        <div class="clearfix"></div>
      </div>
      <!-- //movie-browse-agile -->
      <!--body wrapper start-->

      <!--body wrapper end-->


    </div>
    <!-- //w3l-latest-movies-grids -->
  </div>
</div>
<!-- //w3l-medile-movies-grids -->
