<div style="margin-right: 0px" class="row">
  <div class="col-md-2 nav_menu">
    <ul>
      <li class="nav_menu_title">
        <i class="fa fa-film" aria-hidden="true"></i>
        <a href="">Quản Lý Suất Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-ticket" aria-hidden="true"></i>
        <a href="">Quản Lý Đặt Vé</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-users" aria-hidden="true"></i>
        <a href="">Quản Lý Nhân Viên</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="">Quản Lý Phòng Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <a href="">Quản Lý Thành Viên</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="">Quản Lý Phim</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
        <a href="">Quản Lý Khuyến Mãi</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <a href="">Thống Kê</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10 nav_content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <h1 style="margin-bottom: 40px; margin-right: 180px; color: #FF8D1B;">THÊM MỚI NHÂN VIÊN
      </h1>
      <!-- End content-header -->

      <!-- Main Content -->
      <form form [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group">
            <div class="col-md-2 pr-1"><label for="exampleInputFile">Hình ảnh<span></span>:</label></div>
            <div class="card"  id="exampleInputFile">
              <img style="width: 20%" [src]="getImageUrl()" class="card-img-top" alt="...">
              <div class="card-body" style="margin: 0 230px">
                <input formControlName="imageUrl" type="file" name="..." (change)="selectImage($event)"  value="Chọn ảnh" accept=".jpg,.jpeg,.png"/>
              </div>
            </div>

          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="accountCode">Mã nhân viên<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="accountCode" placeholder="Mã nhân viên" formControlName="accountCode"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputUseName">Tên tài khoản<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="exampleInputUseName" placeholder="Tên tài khoảng" formControlName="username"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputPassword">Mật khẩu<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="password" class="form-control" id="exampleInputPassword" formControlName="password" placeholder="Nhập mật khẩu"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputPassword1">Nhập lại mật khẩu<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputFullName">Họ và tên<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="exampleInputFullName" placeholder="Họ và tên" formControlName="fullname"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputBirthday">Ngày sinh<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="date" class="form-control" id="exampleInputBirthday" placeholder="Tên tài khoảng" formControlName="birthday"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputGender">Giới tính<span>*</span>:</label></div>
              <div class="col-md-6  pr-1">
                <div id="exampleInputGender" >
                  <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio1" value="Nam"  formControlName="gender" > Nam
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio2" value="Nữ"  formControlName="gender"> Nữ
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio3" value="Khác"  formControlName="gender"> Khác
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputEmail1">Email<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputIdCard">CMND<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="exampleInputIdCard" placeholder="CMND" formControlName="idCard"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="exampleInputNumberPhone">Số điện thoại<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="exampleInputNumberPhone" placeholder="Số điện thoại" formControlName="phone"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2  pr-1"> <label for="address">Địa chỉ<span>*</span>:</label></div>
              <div class="col-md-6  pr-1"> <input type="text" class="form-control" id="address" placeholder="Địa chỉ" formControlName="address"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row text-center">
              <div>
                <button type="submit" class="btn btn-primary" style="margin: 0 10px" >Thêm mới</button>
                <button type="submit" class="btn btn-info" routerLink="/">Quay lại</button>
              </div>

            </div>

          </div>

        </div>
      </form>
      <!-- End Main Content -->
    </div>
  </div>
</div>
