<div style="margin-right: 0px" class="row">
  <div class="col-md-2 nav_menu">
    <ul>
      <li class="nav_menu_title">
        <i class="fa fa-film" aria-hidden="true"></i>
        <a href="">Quản Lý Suất Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-ticket" aria-hidden="true"></i>
        <a href="">Quản Lý Đặt Vé</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-users" aria-hidden="true"></i>
        <a href="">Quản Lý Nhân Viên</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="">Quản Lý Phòng Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <a href="">Quản Lý Thành Viên</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="">Quản Lý Phim</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
        <a href="">Quản Lý Khuyến Mãi</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <a href="">Thống Kê</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10 nav_content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <h1 style="margin-bottom: 40px; margin-right: 180px; color: #FF8D1B;"> CHI TIẾT THÔNG TIN NHÂN VIÊN
      </h1>
      <!-- End content-header -->

      <!-- Main Content -->
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Hình ảnh</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <img style="width: 150%" [src]="employeeDetail.imageUrl" class="card-img-top" alt="...">
                </div>
              </div>
              <hr>


              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mã Nhân Viên</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.accountCode}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Họ Và Tên</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.fullname}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Tên Tài Khoảng</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Ngày Sinh</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.birthday}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Giới tính</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.gender}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">CMND</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.idCard}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Số Điện Thoại</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.phone}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Địa Chỉ</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{employeeDetail.address}}
                </div>
              </div>
              <hr>


              <div class="row text-center">
                <div>
                  <button type="submit" class="btn btn-info" routerLink="/">Quay lại</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    <!-- End Main Content -->
  </div>
</div>
