<!-- faq-banner -->
<div class="single-page-agile-main">
  <div class="container">
    <!-- /w3l-medile-movies-grids -->
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Quyền riêng tư</li>
      </ol>
    </div>
    <div class="single-page-agile-info">
      <!-- /movie-browse-agile -->
      <div class="show-top-grids-w3lagile">
        <!--begin detail-->
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="song">
              <div class="song-info">
                <h3></h3>
              </div>
            </div>


            <div class="s-author">
              <p>Bài viết <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a> &nbsp;&nbsp;
                <i class="fa fa-calendar" aria-hidden="true"></i> 29/09/2021 &nbsp;&nbsp; <a
                  href="#"></a>
              </p>
            </div>
            <div id="fb-root"></div>
            <br><br>
            <h2 style="text-align: center">QUYỀN RIÊNG TƯ</h2>
            <br><br>
            <div class="w3-agile-news-text">
              <h3>CHÍNH SÁCH VỀ THU THẬP, SỬ DỤNG VÀ BẢO MẬT THÔNG TIN CÁ NHÂN:</h3>
              <br>
              <h4>1. Mục đích thu thập và Sử dụng Thông tin Cá nhân:</h4>
              <br>
              + Cung cấp và Quản lý cho Chương trình Khách hàng Thường xuyên:
              <br>
              + Các chương trình khác được phát triển và cung cấp thêm cho các thành viên.
              <br>
              + Xác định thành viên và kiểm tra tên tuổi của các thành viên phục vụ cho việc cấp Chương trình khách hàng thường xuyên LOTTE Cinema.
              <br>
              + Tiếp thị, khảo sát thị trường, phát triển và nghiên cứu các sản phẩm.
              <br>
              + Giải quyết tranh chấp, giải quyết khiếu nại, tuân thủ các nghĩa vụ theo quy định pháp luật.
              <br>
              + Ngăn chặn các hành vi trái phép của thành viên theo quy định của LOTTE Cinema
              <br>
              <br>
              <h4>2. Loại thông tin cá nhân được Thu thập và sử dụng:</h4>
              <br>
              + Họ tên, ngày sinh, giới tính, quốc tịch, số CMND hoặc Hộ chiếu.
              <br>
              + Địa chỉ, số điện thoại nhà riêng, số di động và địa chỉ email (bao gồm cả những thành viên đồng ý và không đồng ý nhận thông tin bằng những địa chỉ này).
              <br>

              + Nghề nghiệp, tình trạng hôn nhân, và số lượng con và độ tuổi các con (Nếu có).
              <br>
              <br>
              <h4>3. Thời hạn Lưu giữ và Sử dụng Thông tin Cá nhân</h4>
              <br>
              Thông tin cá nhân trên sẽ được lưu giữ và sử dụng cho những mục đích nên trên kể từ ngày thành viên chấp thuận việc thu thập và sử dụng thông tin cá nhân của LOTTE Cinema cho đến ngày thanh viên bị hủy hoặc rút tư cách thành viên khỏi Chương trình Khách hàng Thường xuyên.
              <br>
              <br>
              <h4>4. Cách thu thập Thông tin Cá nhân</h4>
              <br>
              LOTTE Cinema thu thập thông tin cá nhân theo các cách sau: đăng ký thành viên thông qua website: https://www.lottecinemavn.com, app LOTTE Cinema, tại hệ thống rạp LOTTE Cinema trên toàn quốc và các sự kiện khác.
              <br>
              <br>
              <h4>5. Đơn vị thu thập và quản lý thông tin cá nhân</h4>
              <br>
              <br>
              <h4>6. Cách xem, chỉnh sửa và yêu cầu hủy bỏThông tin Cá nhân</h4>
              <br>Thành viên và người đại diện pháp lý có thể xem, chỉnh sửa Thông tin Cá nhân của khách hàng đã đăng ký và có thể yêu cầu LOTTE Cinema xem, cung cấp, chỉnh sửa và hủy bỏ bất kỳ Thông tin Cá nhân nào dưới đây

              <br>a. Họ tên, ngày sinh, giới tính, quốc tịch,

              <br>b. Địa chỉ, số điện thoại nhà riêng, số di động và địa chỉ email (bao gồm cả những thành viên đồng ý và không đồng ý nhận thông tin bằng những địa chỉ này).
              <br>c. Nghề nghiệp, tình trạng hôn nhân, và số lượng con và độ tuổi các con (Nếu có).
              <br>Ngoại trừ thông tin số CMND / số căn cước công dân / số hộ chiếu không được chỉnh sửa

              <br>Thành viên và người đại diện pháp lý có thể xem, chỉnh sửa và yêu cầu hủy bỏ Thông tin Cá nhân của khách hàng đã đăng ký thông qua

              <br>a. Website: https://www.lottecinemavn.com hoặc app LOTTE Cinema
              <br>b. Yêu cầu nhân viên tại hệ thống rạp LOTTE Cinema trên toàn quốc và các sự kiện khác.
              <br>c. Hoặc có thể gửi yêu cầu về địa chỉ email: cs@lotte.vn
              <br>Hoặc chỉnh sửa trực tiếp ngay tại địa chỉ website của : https://www.lpoint.com.vn/Webcontent/customer/user_change.aspx

              <br>LOTTE Cinema xử lý yêu cầu của khách hàng trong vòng từ 3 đến 5 ngày làm việc
              <br>
              <br>
              <h4>7. Phản hồi và khiếu nại</h4>
              <br>LOTTE Cinema luôn trân trọng những ý kiến của khách hàng. Mọi ý kiến và (hoặc) khiếu nại của Khách hàng vui lòng gửi về địa chỉ email: cs@lotte.vn
              <br>
              <br>
              <h4>8. Cam kết bảo mật thông tin Khách hàng</h4>
              <br>LOTTE Cinema cam kết không cung cấp thông tin cá nhân của bất kỳ thành viên nào ngoại trừ có sự đồng ý của thành viên hoặc theo các quy định của pháp luật cho bất kỳ Công ty bên ngoài các Công ty liên kết của Tập đoàn LOTTE hoặc tổ chức nào khác, hoặc cung cấp cho đối tác hoặc tổ chức nghiên cứu dưới dạng không xác định các cá nhân cụ thể để phục vụ cho các nghiên cứ khoa học hoặc nghiên cứu thị trường.

              <br>Để xử lý và quản lý thông tin cá nhân của thành viên một cách tốt nhất, LOTTE Cinema có thể hợp tác với các Công ty khác trong phạm vi xử lý, quản lý thông tin và thực hiện truyền thông. Các Công ty sau đây hiện đang hợp tác với LOTTE Cinema trong một số vấn đề về xử lý và quản lý thông tin cá nhân

              <br>a. CÔNG TY TNHH LOTTE MEMBERS VIỆT NAM
              <br>Địa chỉ: Tầng 12, Tòa nhà Petroland, số 12 Tân Trào, P. Tân Phú, Quận 7, TPHCM, Việt Nam.
              <br>b. CÔNG TY TNHH TRUYỀN SỐ LIỆU VIỆT NAM
              <br>Địa chỉ: Tầng 11, Tòa nhà Petroland, số 12 Tân Trào, P. Tân Phú, Quận 7, TPHCM, Việt Nam.
              <br>Lotte Cinema bằng sự nỗ lực tốt nhất của mình sẽ áp dụng các giải pháp công nghệ để ngăn chặn các hành vi đánh cắp hoặc tiếp cần thông tin trái phép, sử dụng hoặc phá hủy thông tin trái phép. Tuy nhiên, Lotte Cinema không thể cam kết sẽ ngăn chặn được tất cả các hành vi xâm phạm, sử dụng thông tin cá nhân trái phép nằm ngoài khả năng kiểm soát của Lotte Cinema. Lotte Cinema sẽ không chịu trách nhiệm dưới bất kỳ hình thức nào đối với bất kỳ khiếu nại, tranh chấp hoặc thiệt hại nào phát sinh từ hoặc liên quan đến việc truy cập, xâm nhập, sử dụng thông tin trái phép như vậy.

              <br>Trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân, gây ảnh hưởng xấu đến khách hàng, Lotte Cinema sẽ ngay lập tức thông báo cho khách hàng và trình vụ việc cho cơ quan chức năng điều tra xử lý.

              <br>Đối với các giao dịch trực tuyến được thực hiện thông qua website hoặc ứng dụng của Lotte Cinema, Lotte Cinema không lưu trữ thông tin thẻ thanh toán của khách hàng. Thông tin tài khoản, thẻ thanh toán của khách hàng sẽ được các đối tác cổng thanh toán / ví điện tử của Lotte Cinema bảo vệ theo tiêu chuẩn quốc tế.

              <br>Quý khách có nghĩa vụ bảo mật thông tin truy cập của mình trên website / ứng dụng Lotte Cinema. Lotte Cinema sẽ không chịu trách nhiệm dưới bất kỳ hình thức nào đối với các thiệt hại, tổn thất (nếu có) do khách hàng không tuân thủ quy định bảo mật này.

              <br>Khách hàng tuyệt đối không được có các hành vi sử dụng công cụ, chương trình để can thiệp trái phép vào hệ thống hay làm thay dổi dữ liệu của Lotte Cinema. Trong trường hợp Lotte Cinema phát hiện khách hàng có hành vi cố tình giả mạo, gian lận, phát tán thông tin cá nhân trái phép … Lotte Cinema có quyền chuyển thông tin cá nhân của khách hàng cho các cơ quan có thẩm quyền để xử lý theo quy định của pháp luật.
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end detail-->
        <div class="clearfix"></div>
      </div>
      <!-- //movie-browse-agile -->
      <!--body wrapper start-->

      <!--body wrapper end-->


    </div>
    <!-- //w3l-latest-movies-grids -->
  </div>
</div>
<!-- //w3l-medile-movies-grids -->
