

<div class="footer" style="margin-top: 25px">
  <div class="container">
    <div class="w3ls_footer_grid">
      <div class="col-md-6 w3ls_footer_grid_left">
        <div class="w3ls_footer_grid_left1">
          <h2>Đăng ký nhận khuyến mãi</h2>
          <div class="w3ls_footer_grid_left1_pos">
            <form action="#" method="post">
              <input type="email" name="email" placeholder="Nhập email của bạn..." required="">
              <input type="submit" value="Gửi">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 w3ls_footer_grid_right">
        <a href="index.html"><h2>A09<span>Movies</span></h2></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-5 w3ls_footer_grid1_left">
      <p>&copy; 2021 A9 Movies. Bản quyền đăng ký và thiết kế lớp A9</p>
    </div>
    <div class="col-md-7 w3ls_footer_grid1_right">
      <ul>
        <li>
          <a href="../../../app/static-page/about-us.html">Về chúng tôi</a>
        </li>
        <li>
          <a href="../../../app/static-page/faq.html">Điều khoản sử dụng</a>
        </li>
        <li>
          <a href="../../../app/static-page/privacy.html">Quyền riêng tư</a>
        </li>
        <li>
          <a href="../../../app/static-page/term-customer.html">Chính sách khách hàng</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
