<div style="margin-right: 0" class="row">
  <div class="col-md-2 nav_menu">
    <ul>
      <li class="nav_menu_title">
        <i class="fa fa-film" aria-hidden="true"></i>
        <a href="">Quản Lý Suất Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-ticket" aria-hidden="true"></i>
        <a href="">Quản Lý Đặt Vé</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-users" aria-hidden="true"></i>
        <a href="">Quản Lý Nhân Viên</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="">Quản Lý Phòng Chiếu</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <a href="">Quản Lý Thành Viên</a>
      </li>
      <li class="nav_menu_title" style="background-color: burlywood;">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="">Quản Lý Phim</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
        <a href="">Quản Lý Khuyến Mãi</a>
      </li>
      <li class="nav_menu_title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <a href="">Thống Kê</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10 nav_content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <h1 style="margin-bottom: 40px; margin-right: 180px; color: #FF8D1B;">THÊM MỚI PHIM
      </h1>
      <!-- /.content-header -->
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid ">
          <div class="card shadow">
            <div class="card-body">
              <div class="table-responsive">
                <div class="">

                  <form class="form-horizontal">
                    <div class="row" style="padding-bottom: 30px">
                      <div class="col text-center">
                        <div class="card card-user">
                          <div class="card-body">
                            <div class="fileinput fileinput-new text-center"
                                 data-provides="fileinput">
                              <div class="fileinput-new thumbnail img-raised">
                                <img src="https://cdn.tgdd.vn/Files/2020/01/14/1231516/top-10-bo-phim-hanh-dong-dang-xem-nhat-moi-thoi-dai--cap-nhat-2020-7.jpg"
                                     style="width: 30%;" alt="..." rel="nofollow">
                              </div>
                              <div>
                                <label for="flim">Chọn phim</label>
                                <input id="flim" type="file">
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputNameMovie" class="col-sm-2 control-label">Tên phim <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputNameMovie" type="text" class="form-control"
                               placeholder="Nhập tên phim">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDateStart" class="col-sm-2 control-label">Từ ngày <span
                        class="star">*</span></label>
                      <div class="col-sm-4">
                        <input id="inputDateStart" type=date class="form-control"
                               placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDateEnd" class="col-sm-2 control-label">Đến ngày <span
                        class="star">*</span></label>
                      <div class="col-sm-4">
                        <input id="inputDateEnd" type="date" class="form-control"
                               placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputCast" class="col-sm-2 control-label">Diễn viên <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputCast" type="text" class="form-control"
                               placeholder="Nhập diễn viên">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputFilmStudio" class="col-sm-2 control-label">Hãng phim <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputFilmStudio" type="text" class="form-control"
                               placeholder="Nhập hãng phim">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDirector" class="col-sm-2 control-label">Đạo diễn <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputDirector" type="text" class="form-control"
                               placeholder="Nhập đạo diễn">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputTime" class="col-sm-2 control-label">Thời lượng <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputTime" type="text" class="form-control"
                               placeholder="Nhập thời lượng">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Phiên bản <span class="star">*</span></label>
                      <label class="radio-inline" style="padding-left: 33px">
                        <input type="radio" name="version" id="version1" value="1"> 2D
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="version" id="version2" value="2"> 3D
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="inputTrailer" class="col-sm-2 control-label">Trailer <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputTrailer" type="text" class="form-control"
                               placeholder="Nhập trailer">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 control-label">Thể loại <span
                        class="star">*</span></label>
                      <div style="display: flex; flex-direction: column; align-items: stretch">
                        <div class="row-3 width-checkbox">
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="1" >Hành động
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="2">Hài hước
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="3">Lãng mạn
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="4">Tình cảm
                            </label>
                          </div>
                        </div>
                        <div class="row-3 width-checkbox">
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="5" >Viễn tưởng
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="6">Chiến tranh
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="7">Kiếm hiệp
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="8">Âm nhạc
                            </label>
                          </div>
                        </div>
                        <div class="row-3 width-checkbox">
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="9" >Hoạt hình
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="10">Kinh dị
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="11">Phiêu lưu
                            </label>
                          </div>

                        </div>
                        <div class="row-3 width-checkbox">
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="12">Võ thuật
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="10">Kinh điển
                            </label>
                          </div>
                          <div class="checkbox-inline">
                            <label>
                              <input type="checkbox" value="11">Tâm lý
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding: 10px 0;">
                      <label class="col-sm-2 control-label">Phòng chiếu <span
                        class="star">*</span></label>
                      <div class="col-6">
                        <select class="form-select" id="cinemaRoom">
                          <option selected>Vui lòng chọn phòng chiếu!</option>
                          <option value="1">PC001</option>
                          <option value="2">PC002</option>
                          <option value="3">PC003</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <label for="inputShowtimes" class="col-sm-2 control-label">Lịch chiếu <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="inputShowtimes" type="text" class="form-control"
                               placeholder="Nhập lịch chiếu">
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-primary">Thêm giờ chiếu</button>
                      </div>
                      <div class="col-sm-4"
                           style="margin-top: 5px; margin-bottom: 5px; margin-left: 17%">
                        <input type="text" class="form-control" placeholder="8:00 ; 20:00">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputContent" class="col-sm-2 control-label">Nội dung <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <textarea id="inputContent" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="employeeId" class="col-sm-2 control-label">Mã NV <span
                        class="star">*</span></label>
                      <div class="col-sm-8">
                        <input id="employeeId" type="text" class="form-control" placeholder="NV01">
                      </div>
                    </div>

                    <div class="row" style="text-align: center">
                      <div class="col-sm-6" style="text-align: right">
                        <button type="button" class="btn btn-primary">Quay lại</button>
                      </div>
                      <div class="col-sm-1" style="text-align: left">
                        <button type="submit" class="btn btn-success">Thêm mới</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

