<div class="single-page-agile-main">
  <div class="container">
    <!-- /w3l-medile-movies-grids -->
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết</li>
      </ol>
    </div>
    <div class="single-page-agile-info">
      <!-- /movie-browse-agile -->
      <div class="col-sm-8 single-left">
        <!--begin detail-->
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="song">
              <div class="song-info">
                <h2>{{movie.title}}</h2>
              </div>
            </div>

            <h4 style="margin: 1em 0">Thông tin chi tiết</h4>
            <!-- start description-->
            <div class="description" style="font-size: 1.2rem">
              <div>
                <img [src]="movie.movieImages[0].imageUrl" alt=""
                     style="height: 350px; width: 250px"/>
              </div>
              <div style="color: #0a0910">
                <table class="table table-borderless">
                  <tbody>
                  <tr>
                    <th scope="row" style="width: 30%">Nhà sản xuất:</th>
                    <td>{{movie.production}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Thể loại:</th>
                    <td *ngFor="let genre of movie.genres">
                    <span>{{genre.name}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Đạo diễn: </th>
                    <td>{{movie.director}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Diễn viên: </th>
                    <td>{{movie.cast}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Ngày phát hành: </th>
                    <td>{{movie.releaseDate | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end description-->

            <!--chen video-->
            <h4 style="margin: 2em 0 1em">Trailer</h4>
            <div style="text-align: center;">
              <iframe width="560" height="315" [src]="videoURL()"
                      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                                        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <!-- chen video-->

            <h4 style="margin: 2em 0 1em 0">Nội dung phim</h4>
            <div class="w3-agile-news-text">
              <p style="color: #0a0910; font-size: 17px">
              {{movie.content}}
              </p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end detail-->

        <!--                start comment-->
        <div class="all-comments">
          <p style="color: #0a0910; font-size: 17px">Các đánh giá phim được viết sau khi đăng nhập</p>
          <br>
          <div>
            <input type="submit" value="Đăng nhập">
          </div>
          <div class="media-grids">
            <div class="media">
              <h5>Tú</h5>
              <div class="media-left">
                <a href="#">
                  <img src="./assets/images/user.jpg" title="One movies" alt=" "/>
                </a>
              </div>
              <div class="media-body">
                <p style="color: #0a0910; font-size: 17px">Phim hay, các chi tiết đan xen nhau hợp lý, đạo diễn có những cảnh quay phải nói
                  là tuyệt vời</p>
                <!--                                    <span>View all posts by :<a href="#"> Admin </a></span>-->
              </div>
            </div>
            <div class="media">
              <h5>Bình</h5>
              <div class="media-left">
                <a href="#">
                  <img src="./assets/images/user.jpg" title="One movies" alt=" "/>
                </a>
              </div>
              <div class="media-body">
                <p style="color: #0a0910; font-size: 17px">Như mọi lần đọc đánh giá phim, mình cứ tưởng mod AB14 đánh giá, hết hồn bởi sao
                  bữa nay ảnh đánh giá như viện hàn lâm điện ảnh quá!!!</p>
                <!--                                    <span>View all posts by :<a href="#"> Admin </a></span>-->
              </div>
            </div>
            <div class="media">
              <h5>Rôn</h5>
              <div class="media-left">
                <a href="#">
                  <img src="./assets/images/user.jpg" title="One movies" alt=" "/>
                </a>
              </div>
              <div class="media-body">
                <p style="color: #0a0910; font-size: 17px">Hôm trước chú ấy chê X-men App tơi tớt,nhưng xem xong thấy chú ấy chê ko
                  oan...hehe</p>
                <!--                                    <span>View all posts by :<a href="#"> Admin </a></span>-->
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--            end comment-->

      <div class="col-md-4 single-right">
        <h3>Phim hay</h3>
        <div class="single-grid-right" *ngFor="let movie of movieTopFives">
          <div class="single-right-grids">
            <div class="col-md-4 single-right-grid-left">
              <a routerLink="/movie-detail/{{movie.id}}"><img [src] = "movie.movieImages[0].imageUrl" alt=""/></a>
            </div>
            <div class="col-md-8 single-right-grid-right">
              <a routerLink="/movie-detail/{{movie.id}}" class="title">{{movie.title}}</a>
              <p class="views">1,614,200 lượt xem</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>


      <div class="clearfix"></div>
    </div>
    <!-- //movie-browse-agile -->
    <!--body wrapper start-->
    <div class="w3_agile_banner_bottom_grid">
      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m13.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Citizen Soldier</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m11.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">X-Men</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m12.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Greater</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m7.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Light B/t Oceans</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m8.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">The BFG</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m9.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Central Intelligence</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m10.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Don't Think Twice</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m17.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">Peter</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="single.html" class="hvr-shutter-out-horizontal"><img src="./assets/images/m15.jpg"
                                                                          title="album-name"
                                                                          class="img-responsive"
                                                                          alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="single.html">God’s Compass</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>2021</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Mới</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--body wrapper end-->


  </div>
  <!-- //w3l-latest-movies-grids -->
</div>

