
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>A09 Cinema</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //for-mobile-apps -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="/assets/css/faqstyle.css" type="text/css" media="all" />
  <link href="/assets/css/single.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="/assets/css/contactstyle.css" type="text/css" media="all" />
  <!-- news-css -->
  <link rel="stylesheet" href="/assets/news-css/news.css" type="text/css" media="all" />
  <!-- //news-css -->
  <!-- list-css -->
  <link rel="stylesheet" href="/assets/list-css/list.css" type="text/css" media="all" />
  <!-- //list-css -->
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <!-- //font-awesome icons -->
  <!-- js -->
  <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
  <!-- //js -->
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
  <!-- start-smoth-scrolling -->
  <script type="text/javascript" src="/assets/js/move-top.js"></script>
  <script type="text/javascript" src="/assets/js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
  </script>
  <!-- start-smoth-scrolling -->
</head>

<body>
<!-- faq-banner -->
<div class="faq">
  <div class="container">
    <div class="agileits-news-top">
      <ol class="breadcrumb">
        <li><a href="/assets/html/page/index.html">Home</a></li>
        <li class="active">Event</li>
      </ol>
    </div>
    <div class="agileinfo-news-top-grids">
      <div class="col-md-8 wthree-top-news-left">
        <div class="wthree-news-left">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
                <div class="wthree-news-top-left">
                  <div class="col-md-6 w3-agileits-news-left">
                    <div class="col-sm-5 wthree-news-img">
                      <a href="news-single.html"><img src="/assets/images/milo.jpg" alt="" /></a>
                    </div>
                    <div class="col-sm-7 wthree-news-info">
                      <h5><a routerLink="/example-page">Ngày Thành Viên - Milo Day
                      </a></h5>
                      <ul>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2021</li>
                        <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                      </ul>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="col-md-6 w3-agileits-news-left">
                    <div class="col-sm-5 wthree-news-img">
                      <a routerLink="/example-page"><img src="/assets/images/tri%20an.png" alt="" /></a>
                    </div>
                    <div class="col-sm-7 wthree-news-info">
                      <h5><a routerLink="/example-page">A09 Cinema Tri Ân Thành Viên

                      </a></h5>
                      <ul>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2021</li>
                        <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                      </ul>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-top-left">
                  <div class="col-md-6 w3-agileits-news-left">
                    <div class="col-sm-5 wthree-news-img">
                      <a href="news-single.html"><img src="/assets/images/app.jpg" alt="" /></a>
                    </div>
                    <div class="col-sm-7 wthree-news-info">
                      <h5><a routerLink="/example-page">Ứng Dụng Galaxy: Chọn Lối Đi Riêng, Vào Thẳng Rạp Phim

                      </a></h5>

                      <ul>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2021</li>
                        <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                      </ul>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="col-md-6 w3-agileits-news-left">
                    <div class="col-sm-5 wthree-news-img">
                      <a href="news-single.html"><img src="/assets/images/trianthang.jpg" alt="" /></a>
                    </div>
                    <div class="col-sm-7 wthree-news-info">
                      <h5><a routerLink="/example-page">Ngày Tri Ân Của A09 Cinema - Ngày Thứ Hai ĐẦU TIÊN Mỗi Tháng

                      </a></h5>
                      <ul>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2021</li>
                        <li><i class="fa fa-eye" aria-hidden="true"></i> 2999</li>
                      </ul>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 wthree-news-right">
        <!-- news-right-top -->
        <div class="news-right-top">

        </div>
        <!-- //news-right-top -->
        <!-- news-right-bottom -->
        <div class="news-right-bottom">
          <div class="wthree-news-right-heading">
            <h3>Tin đọc nhiều</h3>
          </div>
          <div class="news-right-bottom-bg">
            <div class="news-grids-bottom">
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">
                    Số phận khác biệt của phim Hàn làm từ webtoon trong năm 2021
                  </a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Giang</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">Kbiz hôm nay: Ji Chang Wook tái xuất và tiếp tục làm trai nghèo khổ</a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Hương Mai</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">Giải đáp cái kết Squid Game: Tại sao Ki Hoon quay lại trò chơi?</a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Nhật Ánh</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">Những điều cần biết về The Sandman - siêu phẩm phim DC của Netflix</a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Quốc Anh</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">5 lý do giúp Squid Game gây sốt toàn cầu: Độ kinh dị vừa đủ xem</a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Phê</a></li>
                  </ul>
                </div>
              </div>
              <div class="top-news-grid">
                <div class="top-news-grid-heading">
                  <a href="news-single.html">Loạt phim Việt đang bốc số ngoài rạp chờ hết giãn cách COVID-19</a>
                </div>
                <div class="w3ls-news-t-grid top-t-grid">
                  <ul>
                    <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Will</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //news-right-bottom -->
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //faq-banner -->
<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $(".dropdown").hover(
      function() {
        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
        $(this).toggleClass('open');
      },
      function() {
        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
        $(this).toggleClass('open');
      }
    );
  });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
  $(document).ready(function() {
    /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
    */

    $().UItoTop({ easingType: 'easeOutQuart' });

  });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>
