<<<<<<< HEAD
.description{
    display: grid;
    grid-template-columns: auto auto;
}

.btn-on-image-left{
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-right{
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-left-comming{
    position: absolute;
    top: 90%;
    left: 76%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-right-comming{
    position: absolute;
    top: 90%;
    left: 88%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


=======
.description{
    display: grid;
    grid-template-columns: auto auto;
}

.btn-on-image-left{
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-right{
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-left-comming{
    position: absolute;
    top: 90%;
    left: 76%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-on-image-right-comming{
    position: absolute;
    top: 90%;
    left: 88%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


>>>>>>> movie
