
<!-- faq-banner -->
<div class="single-page-agile-main">
  <div class="container">
    <!-- /w3l-medile-movies-grids -->
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Giới thiệu</li>
      </ol>
    </div>
    <div class="single-page-agile-info">
      <!-- /movie-browse-agile -->
      <div class="show-top-grids-w3lagile">
        <!--begin detail-->
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="song">
              <div class="song-info">
                <h3></h3>
              </div>
            </div>


            <div class="s-author">
              <p>Bài viết <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a> &nbsp;&nbsp;
                <i class="fa fa-calendar" aria-hidden="true"></i> 29/09/2021 &nbsp;&nbsp; <a
                  href="#"></a>
              </p>
            </div>
            <div id="fb-root"></div>
            <br><br>
            <h2>Giới thiệu</h2>
            <br><br>
            <div class="w3-agile-news-text">
              <p>A09 Cinema được biết đến với cụm rạp đầu tiên với 5 phòng chiếu vào năm 2010, tại Maximark
                3/2 (nay là Vincom 3/2). Từ 2014, BHD Star Cineplex là cụm rạp của doanh nghiệp Việt Nam duy
                nhất có sức phát triển mạnh mẽ, qua việc liên tục mở thêm các vị trí rạp mới, ở những khu vực
                đắc địa của Thành phố Hồ Chí Minh, Hà Nội, Huế và các tỉnh thành khác.</p>
              <br>
              <h4>MỤC TIÊU HOẠT ĐỘNG</h4>
              <br>
              <p>Các mục tiêu này được thiết lập bởi BHD Star Cineplex như là kim chỉ nam cho các Ban Quản Lý
                Rạp để bảo đảm trải nghiệm điện ảnh hoàn hảo cho khách hàng.</p>
              <br>
              <p><b>+ Phục vụ khách hàng:</b> Chúng tôi cam kết chất lượng phục vụ theo tiêu chuẩn cao nhất qua việc
                thoả mãn các yêu cầu của khách hàng kịp thời,đầy đủ và chuyên nghiệp.</p>
              <br>
              <p><b>+ Không gian thoải mái:</b> Chúng tôi cam kết mang đến một không gian sạch sẽ, thoải mái và thuận
                lợi, để khách hàng luôn cảm thấy được trân trọng và được phục vụ chu đáo.</p>
              <br>
              <p><b>+ Địa điểm an toàn:</b> Chúng tôi cam kết bảo đảm một không gian giải trí an ninh và an toàn để
                khách hàng quay lại thường xuyên.</p>
              <br>
              <p><b>+ Âm thanh hình ảnh:</b> Chúng tôi cam kết cung cấp chất lượng âm thanh và hình ảnh theo tiêu
                chuẩn cao nhằm gìn giữ, quảng bá và nâng cao trải nghiệm điện ảnh như chính sự kỳ vọng của
                các nhà làm phim và khán giả xem phim.</p>
              <br>
              <p>Bên cạnh việc sẽ tiếp tục mở rộng ra các tỉnh thành khác, giá trị cốt lõi của thương hiệu
                BHD Star Cineplex là luôn luôn bảo đảm trải nghiệm của khách hàng qua chất lượng phục vụ,
                đồng nhất tại tất cả các cụm rạp.</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--end detail-->
        <div class="clearfix"></div>
      </div>
      <!-- //movie-browse-agile -->
      <!--body wrapper start-->

      <!--body wrapper end-->


    </div>
    <!-- //w3l-latest-movies-grids -->
  </div>
</div>
<!-- //w3l-medile-movies-grids -->

